<div class="d-flex flex-row justify-content-center">
 
<!-- navigate to the expenses component   -->

<div class="card m-3 boxclass" style="width: 18rem;">
  <img class="card-img-top" src="https://www.taxscan.in/wp-content/uploads/2018/03/Expenses-ITAT-Taxscan.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Expenses</h5>
    <p class="card-text">“Do not cut down on your expenses, Increase your income!”</p>
    <a href="#" class="btn btn-dark" (click)="addExpensesFunction()">Add Expenses</a>
  </div>
</div>

<!-- navigate to the income component  -->

<div class="card m-3 boxclass" style="width: 18rem;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/UheQ0wnXNu7d-qPIoopTeJgIAXMl1ay6JyXDZSuRx5vzaCzG8Yr9xoG3Z7Zm97nZNKVDHMPlLn0l-ehWlRnYEQE-I594T1lc67f8NcX_6VwmEOfUyZb7XLh4yyHqtT5bhX83KKtztBPKzi4asDx7DCbl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Income</h5>
    <p class="card-text">“Do not cut down on your expenses, Increase your income!”</p>
    <a href="#" class="btn btn-dark" (click)="addIncomeFunction()">Add Income</a>
  </div>
</div>

</div>

